#title .container-fluid {
    padding: 3% 15% 8%;
    text-align: left;
}

body {
    text-align: center;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
    line-height: 1.5;
}

.colored-section {
    background-color: #ff4c68;
    color: white;

}

.white-section {
    background-color: white;

}

/* Section Headers */

.section-header {
    font-size: 3.8rem;
    color: white;
    text-align: left;

}



.container-fluid {
    padding: 7% 15%;
}


/* Navigation Bar */
.logotext {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px;

}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.navbar {
    padding: 0 0 4.5rem;

}

/* title img */
.title-img {
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;

}

.title-buttons {
    text-align: left;
}

/* download-button */
.download-button {
    margin: 5% 3% 5% 0%;
}

/* features */

#features {

    position: relative;
}

.feature-box {

    padding: 5%;

}

.feature-box i {
    font-size: 5rem;
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-box i:hover {
    color: #ff4c68;
}

.feature-box h3 {
    font-family: "Montserrat-Bold";
    font-weight: bolder;
    font-size: 1.5rem;
}

.feature-box p {
    color: #bfbfbf;
}

/* testimonials */
#testimonials {


    background-color: #ef8172;



}

.testimonial-text {
    font-size: 3rem;
    font-weight: bolder;
}



#testimonials h3 {
    padding: 25px;
}

.testimonial-pic {
    width: 15%;
    margin: 20px;
    border-radius: 100%;
}

/* press */
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image {
    margin: 20px 20px 50px;

    width: 15%;
}

/* pricing */
#pricing {
    padding: 100px;
}

.pricing-text {
    font-size: 3rem;
    font-weight: bolder;

}

.pricing-column {
    padding: 3% 2%;
}

.card {
    height: 100%;
}



/* Call To Action  */
#cta {

    background-color: #ff4c68;

}

.cta-h3 {
    padding: 8% 5% 0%;
    font-family: "Montserrat-Black";
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bolder;
    color: #fff;
    margin: auto;
}

.download-button-2 {
    margin: 5% 3% 5% 0%;
}

/* Footer */


.footer-icons i {
    margin: 10px;


}

.footer-icons :hover {
    color: rgb(81, 81, 233);
    transition: 2s;
}

.footer-icons {
    font-size: xx-large;
}

#footer p {
    color: #bfbfbf;

}

@media (max-width : 991px) {
    .title-img {
        position: static;
        transform: rotate(0);
        width: 40%;
    }

    #title {
        text-align: center;

    }
}
